REACT_APP_PORT={{ nodejs_port }}
REACT_APP_API_PORT={{ server_port }}
REACT_APP_NODE_ENV=production
REACT_APP_URL=http://localhost:{{ nodejs_port }}
REACT_APP_API_URL=http://localhost:{{ server_port }}
